Menu:

<ul>
    <li>
        <p><strong><a href="/">Home</a></strong></p>
    </li>
    <li>
        <p><strong><a href="AWS-Info">AWS Info</a></strong></p>
    </li>
    <li>
        <p><strong><a href="Algorithms">Algorithms</a></strong></p>
    </li>
    <li><a href="A-priori">A priori</a></li>
    <li><a href="C4.5-Algorithm">C4.5 Algorithm</a></li>
    <li><a href="Clustering">Clustering</a></li>
    <li><a href="Collaborative-Filtering">Collaborative Filtering</a></li>
    <li><a href="K-Nearest-Neighbors">K Nearest Neighbors</a></li>
    <li><a href="PageRank">PageRank</a></li>
    <li>
        <p><strong><a href="Datasets">Datasets</a></strong></p>
    </li>
    <li>
        <p><strong><a href="Projects">Projects</a></strong></p>
    </li>
    <li><a href="Current-Events-Twitter">Current Events: Twitter</a></li>
    <li><a href="GT-Bus-Schedule">GT Bus Schedule</a></li>
    <li><a href="Movie-Lens-Recommendation-System">Movie Lens Recommendation System</a></li>
    <li><a href="Sports-Analysis-Engine">Sports Analysis Engine</a></li>
    <li>
        <p><a href="TrollBot-and-Google-NGrams">TrollBot and Google NGrams</a></p>
    </li>
    <li>
        <p><strong><a href="Technologies">Technologies</a></strong></p>
    </li>
    <li><a href="Cassandra">Cassandra</a></li>
    <li><a href="Elastic-Search">Elastic Search</a></li>
    <li><a href="Elastic-Map-Reduce">Elastic Map Reduce</a></li>
    <li><a href="Hadoop">Hadoop</a></li>
    <li><a href="Mahout">Mahout</a></li>
    <li><a href="NLTK">NLTK</a></li>
    <li><a href="Pig">Pig</a></li>
    <li><a href="Tableau">Tableau</a></li>
</ul>
